---
layout: home
---

<div class="container p2 mx-auto mt2">
  <header class="header-bg">
    <h1 class="py4 mb2">{{ site.title }}</h1>
  </header>

    {% for post in site.posts %}
      <div class="mb3 prose">
        <h2 class="">
          <a class="h2" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        <p class="h3">{{ post.content | strip_html | truncatewords:30}}</p>
      </div>
    {% endfor %}

</div>

<!-- Shows links for pages in the site folder such as about -->
<div class="container mx-auto">
  {% for my_page in site.pages %}
    {% if my_page.title %}
    <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    {% endif %}
  {% endfor %}
</div>
