---
layout: default
---

<div>
  <h1>Posts</h1>
  <ul>
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Shows links for pages in the site folder such as about -->
<div>
  {% for my_page in site.pages %}
    {% if my_page.title %}
    <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    {% endif %}
  {% endfor %}
</div>
