/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: Athelas, Georgia, serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #111;
    background-color: #fff;
}

a {
  color: inherit;
}

h1 {
  font-size: 52px;
  font-weight: normal;
}

// Typography

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-underline {
  text-decoration: none;
}

.quote {
  font-size: 56px;
  color: #ccc;
}

.quote-start {
  width: 20px;
  height: 30px;
  margin-top: -20px;
  margin-left: -26px;
}

.quote-end {

}


// Themes

.bg-black {
  background-color: #111;
}

.text-white {
  color: #fff;
}

.background-gradient {
  background-image: linear-gradient(-180deg, #111, #333);
}
