h1 {
  font-size: 48px;
  font-weight: normal;
  line-height: 1.25;

  @media (min-width: 52em) {
    font-size: 64px;
  }

}

.header-bg {
  background-image: url(/images/nightsky.svg);
  background-repeat: no-repeat;
  background-position: 30%;
  background-size: cover;

  @media (min-width: 40em) {
    background-position: 24%;
  }

  @media (min-width: 52em) {
    background-position: center;
  }

}

.header-height {
  height: 100vh;
  min-height: 100%;

  @media (min-width: 52em) {
    height: 0;
    min-height: 600px;
  }

}
