---
layout: default
---
<article class="container p2 mx-auto mt2 mb4" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="mb2">{{ site.title }}</h1>
  <h1 class="h2" itemprop="name headline">{{ page.title }}</h1>
  <p class="mb2"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  <blockquote class="prose" itemprop="articleBody">
    {{ content }}
  </blockquote>
  <div class="">
    <p class="mb2">This quote is from <a href="{{ page.design-details-link }}">epidsode {{ page.design-details-ep }}</a> of the Design Details podcast.</p>
  </div>
  ___
  <div class="">
    <p class="h3" itemprop="name headline"><a href="{{ page.twitter }}">{{ page.title }}</a> is a {{ page.role }} at {{ page.company }} based in {{ page.location }}.</p>
  </div>
</article>
